@font-face {
  font-family: 'Milton One';
  src: url("../fonts/MiltonOneBold.woff") format("woff"), url("../fonts/MiltonOneBold.ttf") format("truetype"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Times new Roman", Arial, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #BBBDC0;
  background: #fff; }

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .offcanvas #page {
    overflow: hidden;
    position: absolute; }
    .offcanvas #page:after {
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0, 0, 0, 0.7);
      content: ""; }

a {
  color: #85714D;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #85714D;
    outline: none;
    text-decoration: none; }

p {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6, figure {
  color: #ffcc99;
  font-family: "Playfair display", serif;
  font-weight: 400;
  margin: 0 0 20px 0; }

::-webkit-selection {
  color: #fff;
  background: #85714D; }

::-moz-selection {
  color: #fff;
  background: #85714D; }

::selection {
  color: #fff;
  background: #85714D; }

#fh5co-event,
.fh5co-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%; }

.footer-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.fh5co-cover {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%; }
  .fh5co-cover .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); }
  .fh5co-cover > .fh5co-container {
    position: relative;
    z-index: 10; }
  @media screen and (max-width: 768px) {
    .fh5co-cover {
      height: 600px; } }
  .fh5co-cover .display-t,
  .fh5co-cover .display-tc {
    height: 600px;
    display: table;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .fh5co-cover .display-t,
      .fh5co-cover .display-tc {
        height: 600px; } }
  .fh5co-cover.fh5co-cover-sm {
    height: 600px; }
    @media screen and (max-width: 768px) {
      .fh5co-cover.fh5co-cover-sm {
        height: 400px; } }
    .fh5co-cover.fh5co-cover-sm .display-t,
    .fh5co-cover.fh5co-cover-sm .display-tc {
      height: 600px;
      display: table;
      width: 100%; }
      @media screen and (max-width: 768px) {
        .fh5co-cover.fh5co-cover-sm .display-t,
        .fh5co-cover.fh5co-cover-sm .display-tc {
          height: 400px; } }

#fh5co-event {
  height: 600px; }
  #fh5co-event .display-t,
  #fh5co-event .display-tc {
    height: 550px;
    display: table;
    width: 100%; }
    #fh5co-event .display-t .event-container,
    #fh5co-event .display-tc .event-container {
      height: 100%; }
  #fh5co-event .fh5co-heading {
    margin-top: 2em; }
    #fh5co-event .fh5co-heading h2 {
      color: #ffcc99;
      font-family: "Playfair display", serif; }
    #fh5co-event .fh5co-heading span {
      color: rgba(187, 189, 192, 0.5);
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 600; }
  #fh5co-event .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 768px) {
    #fh5co-event {
      height: inherit;
      padding: 7em 0; }
      #fh5co-event .display-t,
      #fh5co-event .display-tc {
        height: inherit; } }
  #fh5co-event .event-wrap {
    border: 2px solid rgba(187, 189, 192, 0.5);
    padding: 30px;
    width: 100%;
    height: 60%;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    @media screen and (max-width: 768px) {
      #fh5co-event .event-wrap {
        margin-bottom: 10px; } }
    #fh5co-event .event-wrap h3 {
      font-size: 28px;
      font-weight: 700;
      color: #ffcc99;
      font-family: "Playfair display", serif;
      border-bottom: 1px solid rgba(187, 189, 192, 0.5);
      display: block;
      padding-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 2px; }
    #fh5co-event .event-wrap p, #fh5co-event .event-wrap span {
      display: inline-block;
      color: rgba(187, 189, 192, 0.8);
      font-family: "Times new Roman", Arial, serif;
      font-size: 18px;
      text-shadow: 0px 0px #BBBDC0; }
    #fh5co-event .event-wrap i {
      color: #bbbdc0;
      font-family: "Times new Roman", Arial, serif;
      font-size: 24px; }
    #fh5co-event .event-wrap .event-col {
      width: 50%;
      float: left;
      margin-bottom: 20px; }

#map {
  width: 100%;
  height: 500px;
  position: relative; }
  @media screen and (max-width: 768px) {
    #map {
      height: 200px; } }

form label {
  font-weight: normal !important; }

#header,
#fh5co-counter,
.fh5co-cover {
  margin-bottom: 50px; }
  #header .display-tc,
  #fh5co-counter .display-tc,
  .fh5co-cover .display-tc {
    display: table-cell !important;
    vertical-align: middle; }
    #header .display-tc h1, #header .display-tc h2,
    #fh5co-counter .display-tc h1,
    #fh5co-counter .display-tc h2,
    .fh5co-cover .display-tc h1,
    .fh5co-cover .display-tc h2 {
      margin: 0;
      padding: 0;
      color: #ffcc99; }
    #header .display-tc h1,
    #fh5co-counter .display-tc h1,
    .fh5co-cover .display-tc h1 {
      margin-bottom: 0px;
      font-size: 10em;
      line-height: 1.5;
      font-family: "Milton One", serif;
      white-space: nowrap; }
      @media screen and (max-width: 768px) {
        #header .display-tc h1,
        #fh5co-counter .display-tc h1,
        .fh5co-cover .display-tc h1 {
          font-size: 6em; } }
      @media screen and (max-width: 480px) {
        #header .display-tc h1,
        #fh5co-counter .display-tc h1,
        .fh5co-cover .display-tc h1 {
          font-size: 4em; } }
    #header .display-tc h2,
    #fh5co-counter .display-tc h2,
    .fh5co-cover .display-tc h2 {
      font-size: 24px;
      letter-spacing: 10px;
      line-height: 1.5;
      margin-bottom: 30px;
      font-family: "Playfair display", serif; }
      @media screen and (max-width: 480px) {
        #header .display-tc h2,
        #fh5co-counter .display-tc h2,
        .fh5co-cover .display-tc h2 {
          font-size: 16px; } }

.simply-countdown {
  /* The countdown */
  margin-bottom: 2em; }

.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 100px;
  height: 100px;
  background: rgba(122, 65, 131, 0.8);
  margin: 0 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s ease infinite; }
  @media screen and (max-width: 768px) {
    .simply-countdown > .simply-section {
      width: 68px;
      height: 68px; } }
  @media screen and (max-width: 480px) {
    .simply-countdown > .simply-section {
      width: 40px;
      height: 40px; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: white;
  /* amounts and words */ }

.simply-countdown > .simply-section .simply-amount {
  font-size: 30px;
  /* amounts */ }
  @media screen and (max-width: 768px) {
    .simply-countdown > .simply-section .simply-amount {
      font-size: 16px; } }
  @media screen and (max-width: 480px) {
    .simply-countdown > .simply-section .simply-amount {
      font-size: 12px; } }

.simply-countdown > .simply-section .simply-word {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 12px;
  /* words */ }

.couple-wrap {
  width: 90%;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 768px) {
    .couple-wrap {
      width: 100%; } }

.heart {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  z-index: 99;
  animation: pulse 1s ease infinite; }
  .heart i {
    font-size: 20px;
    background: #fff;
    padding: 20px;
    color: #ffcc99;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  @media screen and (max-width: 768px) {
    .heart {
      display: none; } }

.couple-half {
  width: 50%;
  float: left; }
  .couple-half.full {
    width: 100%; }
    .couple-half.full .desc-bride, .couple-half.full .desc-groom {
      display: table;
      text-align: center;
      white-space: nowrap; }
    .couple-half.full .bride {
      float: left; }
  @media screen and (max-width: 768px) {
    .couple-half {
      width: 100%; } }
  .couple-half h3 {
    font-family: "Playfair display", serif;
    color: #ffcc99;
    font-size: 30px; }
  .couple-half .bride {
    float: right;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: calc(200px * 0.67);
    height: 200px; }
    .couple-half .bride img {
      width: 150px;
      height: 200px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    @media screen and (max-width: 480px) {
      .couple-half .bride {
        width: 100%;
        height: 140px; }
        .couple-half .bride img {
          width: calc(140px * 0.67);
          height: 140px;
          margin: 0 auto; } }
  .couple-half .desc-bride {
    padding-right: calc(200px * 0.67 + 20px);
    text-align: right; }
  .couple-half .groom {
    float: left;
    margin-left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: calc(200px * 0.7);
    height: 200px; }
    .couple-half .groom img {
      width: calc(200px * 0.7);
      height: 200px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    @media screen and (max-width: 480px) {
      .couple-half .groom {
        width: 100%;
        height: 140px; }
        .couple-half .groom img {
          width: calc(140px * 0.7);
          height: 140px;
          margin: 0 auto; } }
  .couple-half .desc-groom {
    padding-left: 180px;
    text-align: left; }
  @media screen and (max-width: 480px) {
    .couple-half .groom, .couple-half .bride {
      margin-left: 0;
      margin-right: 0; }
    .couple-half .desc-groom {
      padding-left: 0;
      text-align: center; }
    .couple-half .desc-bride {
      padding-right: 0;
      text-align: center; } }

.couple-description {
  width: 100%; }
  .couple-description h3 {
    font-family: "Playfair display", serif;
    color: #ffcc99;
    font-size: 50px; }
  .couple-description .bride {
    float: right;
    margin-top: 150px;
    margin-left: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: calc(452px * 0.6662);
    height: 452px; }
    .couple-description .bride img {
      width: calc(452px * 0.6662);
      height: 452px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    @media screen and (max-width: 480px) {
      .couple-description .bride {
        width: calc(240px * 0.6662);
        height: 240px; }
        .couple-description .bride img {
          width: calc(240px * 0.6662);
          height: 240px;
          margin: 0 auto; } }
  .couple-description .desc-bride {
    padding-top: 50px;
    text-align: left;
    display: table; }
  .couple-description .groom {
    margin-top: 150px;
    margin-right: 50px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: calc(452px * 0.7);
    height: 452px; }
    .couple-description .groom img {
      width: calc(452px * 0.6662);
      height: 452px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    @media screen and (max-width: 480px) {
      .couple-description .groom {
        width: calc(240px * 0.6662);
        height: 240px; }
        .couple-description .groom img {
          width: calc(240px * 0.6662);
          height: 240px;
          margin: 0 auto; } }
  .couple-description .desc-groom {
    padding-top: 50px;
    display: table;
    text-align: left; }
  @media screen and (max-width: 480px) {
    .couple-description .groom, .couple-description .bride {
      margin-left: 0;
      margin-right: 0; }
    .couple-description .desc-groom {
      padding-left: 0;
      text-align: center; }
    .couple-description .desc-bride {
      padding-right: 0;
      text-align: center; } }

.fh5co-heading {
  margin-bottom: 5em; }
  .fh5co-heading.fh5co-heading-sm {
    margin-bottom: 2em; }
  .fh5co-heading h2 {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    color: #ffcc99;
    font-family: "Playfair display", serif; }
    @media screen and (max-width: 768px) {
      .fh5co-heading h2 {
        font-size: 35px; } }
  .fh5co-heading h3 {
    color: #BBBDC0;
    font-family: "Times new Roman", Arial, serif; }
  .fh5co-heading p {
    font-size: 18px;
    line-height: 1.5;
    color: #BBBDC0; }
  .fh5co-heading span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4); }

#registration .fh5co-heading {
  margin-bottom: 2em; }

#registrationQuery {
  font-family: "Times new Roman", Arial, serif;
  color: #BBBDC0;
  font-size: 22px;
  text-shadow: 0px 0px 0px; }

#what-to-bring {
  position: relative;
  margin-bottom: 2em; }
  #what-to-bring .fh5co-heading h2 {
    color: #ffcc99;
    font-family: "Playfair display", serif; }
  #what-to-bring .fh5co-heading p {
    line-height: 2.5;
    color: #BBBDC0;
    font-size: 22px;
    text-shadow: 0px 0px 0px;
    font-family: "Times new Roman", Arial, serif; }
  #what-to-bring .fh5co-heading {
    margin-bottom: 2em; }
    #what-to-bring .fh5co-heading h2 {
      margin-bottom: 0; }

div:after {
  clear: both; }

.container:after {
  clear: both; }

#fh5co-footer {
  clear: both;
  padding: 2em 0;
  text-align: center;
  color: #BBBDC0;
  font-family: "Times new Roman", Arial, serif;
  font-size: 24px; }

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Times new Roman", Arial, serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important; }

.btn-primary {
  background: #BBBDC0;
  color: #fff;
  border: 2px solid #85714D; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #957f56 !important;
    border-color: #957f56 !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #85714D;
    border: 2px solid #85714D; }
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
      background: #85714D;
      color: #fff; }

.form-group .btn-primary {
  background: #7A4183;
  border: 2px solid #7A4183; }

#rsvp-form {
  margin-left: 20px;
  margin-right: 20px; }

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300; }
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #85714D; }

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff; }

.scroll-down {
  background: #957f56;
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s; }

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px; }

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); } }
