@font-face {
  font-family: 'Milton One';
  src: url('../fonts/MiltonOneBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MiltonOneBold.ttf')  format('truetype') /* Safari, Android, iOS */
}

$main-header-font: 'Milton One', serif;
$header-font: 'Playfair display', serif;
$text-font: 'Times new Roman', Arial, serif;


$header-color: #ffcc99;
$text-color: #BBBDC0;

// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #85714D !default;
$brand-secondary: #7A4183 !default; 

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;

// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*
* ======================================================= */

body {
	font-family: $text-font;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: $text-color;
	background: #fff;
}
#page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	@include transition(.5s);
	.offcanvas & {
		overflow: hidden;	
		position: absolute;
		
		&:after {
			@include transition(2s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 101;
			background: rgba(0,0,0,.7);
			content: "";
		}
	}
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover, &:active, &:focus {
		color: $brand-primary;
		outline: none;
		text-decoration: none;
	}
}
p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
	color: $header-color;
	font-family: $header-font;
	font-weight: 400;
	margin: 0 0 20px 0;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}

#fh5co-event,
.fh5co-bg {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
}

.footer-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}


.fh5co-cover {
	height: 900px;
	background-size: cover;
	// background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	.overlay {
		z-index:0;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, .5);
	}
	> .fh5co-container {
		position: relative;
		z-index: 10;
	}
	@media screen and (max-width: $screen-sm) {
		height: 600px;
	}
	.display-t,
	.display-tc {
		height: 600px;
		display: table;
		width: 100%;
		@media screen and (max-width: $screen-sm) {
			height: 600px;
		}
	}	

	&.fh5co-cover-sm {
		height: 600px;
		@media screen and (max-width: $screen-sm) {
			height: 400px;
		}
		.display-t,
		.display-tc {
			height: 600px;
			display: table;
			width: 100%;
			@media screen and (max-width: $screen-sm) {
				height: 400px;
			}
		}	
	}
}

#fh5co-event {
	height: 600px;
	.display-t,
	.display-tc {
		height: 550px;
		display: table;
		width: 100%;
    .event-container {
      height: 100%;
    }
	}
	.fh5co-heading{
    margin-top: 2em;
		h2{
			color: $header-color;
      font-family: $header-font;
		}
		span{
			color: rgba($text-color,.5);
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 2px;
			font-weight: 600;
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .4);
	}
	@media screen and (max-width: $screen-sm) {
		height: inherit;
		padding: 7em 0;
		.display-t,
		.display-tc {
			height: inherit;
		}
	}

	.event-wrap{
		border: 2px solid rgba($text-color,.5);
		padding: 30px;
		width: 100%;
    height: 60%;
		float: left;
		@include border-radius(4px);
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 10px;
		}
		h3{
			font-size: 28px;
      font-weight: 700;
			color: $header-color;
      font-family: $header-font;
			border-bottom: 1px solid rgba($text-color,.5);
			display: block;
			padding-bottom: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		p,span{
			display: inline-block;
			color: rgba($text-color,.8);
      font-family: $text-font;
			font-size: 18px;
      text-shadow: 0px 0px $text-color;
		}
		i{
			color: rgba($text-color,1);
      font-family: $text-font;
			font-size: 24px;
		}
		.event-col{
			width: 50%;
			float: left;
			margin-bottom: 20px;
		}
	}
}

// Map
#map {
	width: 100%;
	height: 500px;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		height: 200px;
	}
}


form {
	label {
		font-weight: normal!important;
	}
}

#header,
#fh5co-counter,
.fh5co-cover {
  margin-bottom: 50px;
	.display-tc {
		display: table-cell!important;
		vertical-align: middle;
		h1, h2 {
			margin: 0;
			padding: 0;
			color: $header-color;
		}
		h1 {
			margin-bottom: 0px;
			font-size: 10em;
			line-height: 1.5;
			font-family: $main-header-font;
      white-space: nowrap;
			@media screen and (max-width: $screen-sm) {
				font-size: 6em;
			}
			@media screen and (max-width: $screen-xs) {
				font-size: 4em;
			}
		}
		h2 {
			font-size: 24px;
      letter-spacing: 10px;
			line-height: 1.5;
			margin-bottom: 30px;
			font-family: $header-font;
			@media screen and (max-width: $screen-xs) {
				font-size: 16px;
			}
		}
	}
}

// COUNTDOWN CUSTOM
.simply-countdown {
    /* The countdown */
    margin-bottom: 2em;
}
.simply-countdown > .simply-section {
    /* coutndown blocks */
    display: inline-block;
    width: 100px;
    height: 100px;
    @media screen and (max-width: $screen-sm) {
      width: 68px;
      height: 68px;
    }
    @media screen and (max-width: $screen-xs) {
      width: 40px;
      height: 40px;
    }
    background: rgba($brand-secondary,.8);
    margin: 0 4px;
    @include border-radius(50%);
    position: relative;

    animation: pulse 1s ease infinite, 
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.simply-countdown > .simply-section > div {
    /* countdown block inner div */
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    width: inherit;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
	display: block;
	color: rgba($brand-white,1);
    /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
  @media screen and (max-width: $screen-sm) {
    font-size: 16px;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 12px;
  }
	font-size: 30px;
    /* amounts */
}

.simply-countdown > .simply-section .simply-word {
	color: rgba($brand-white,.7);
	text-transform: uppercase;
	font-size: 12px;
    /* words */
}

// COUPLE
.couple-wrap{
	width: 90%;
	margin: 0 auto;
	position: relative;
	@media screen and (max-width: $screen-sm){
		width: 100%;
	}
}
.heart{
	position: absolute;
	top: 4em;
	left: 0;
	right: 0;
	z-index: 99;
	animation: pulse 1s ease infinite;
	i{
		font-size: 20px;
		background: $brand-white;
		padding: 20px;
		color: $header-color;
		@include border-radius(50%);
	}
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}
.couple-half{
	width: 50%;
  &.full {
    width: 100%;

    .desc-bride, .desc-groom {
      display: table;
      text-align: center;
      white-space: nowrap;
    }

    .bride {
      float: left;
    } 
  }
	float: left;
	@media screen and (max-width: $screen-sm){
		width: 100%;
	}
	h3{
		font-family: $header-font;
		color: $header-color;
		font-size: 30px;
	}
  $bride-aspect-ratio: 0.67;
  $groom-aspect-ratio: 0.7;
  $big-height: 200px;
  $small-height: 140px;

	.bride{
		float: right;
		margin-right: 5px;
		@include border-radius(50%);
    width: calc(#{$big-height} * #{$bride-aspect-ratio});
		height: $big-height;
		img{
			width: 150px;
			height: $big-height;
			@include border-radius(50%);
		}
		@media screen and (max-width: $screen-xs){
			width: 100%;
			height: 140px;
			img{
        width: calc(#{$small-height} * #{$bride-aspect-ratio});
				height: $small-height;
				margin: 0 auto;
			}
		}
	}
	.desc-bride{
		padding-right: calc(#{$big-height} * #{$bride-aspect-ratio} + 20px);
		text-align: right;
	}
	.groom{
		float: left;
		margin-left: 5px;
		@include border-radius(50%);
		width: calc(#{$big-height} * #{$groom-aspect-ratio});
		height: $big-height;
		img{
      width: calc(#{$big-height} * #{$groom-aspect-ratio});
			height: $big-height;
			@include border-radius(50%);
		}
		@media screen and (max-width: $screen-xs){
			width: 100%;
			height: 140px;
			img{
        width: calc(#{$small-height} * #{$groom-aspect-ratio});
				height: $small-height;
				margin: 0 auto;

			}
		}
	}
	.desc-groom{
		padding-left: 180px;
		text-align: left;
	}
	@media screen and (max-width: $screen-xs){
		.groom,.bride{
			margin-left: 0;
			margin-right: 0;
		}
		.desc-groom{
			padding-left: 0;
			text-align: center;
		}
		.desc-bride{
			padding-right: 0;
			text-align: center;
		}
	}
}

.couple-description {
  width: 100%;

	h3{
		font-family: $header-font;
		color: $header-color;
		font-size: 50px;
	}
  $bride-aspect-ratio: 0.6662;
  $groom-aspect-ratio: 0.7;
  $big-height: 452px;
  $small-height: 240px;

	.bride{
		float: right;
    margin-top: 150px;
    margin-left: 50px;
		@include border-radius(50%);
    width: calc(#{$big-height} * #{$bride-aspect-ratio});
		height: $big-height;
		img{
      width: calc(#{$big-height} * #{$bride-aspect-ratio});
			height: $big-height;
			@include border-radius(50%);
		}
		@media screen and (max-width: $screen-xs){
      width: calc(#{$small-height} * #{$bride-aspect-ratio});
			height: $small-height;
			img{
        width: calc(#{$small-height} * #{$bride-aspect-ratio});
				height: $small-height;
				margin: 0 auto;
			}
		}
	}
	.desc-bride{
    padding-top: 50px;
		text-align: left;
    display: table;
	}
	.groom{
    margin-top: 150px;
    margin-right: 50px;
		float: left;
		@include border-radius(50%);
		width: calc(#{$big-height} * #{$groom-aspect-ratio});
		height: $big-height;
		img{
      width: calc(#{$big-height} * #{$bride-aspect-ratio});
			height: $big-height;
			@include border-radius(50%);
		}
		@media screen and (max-width: $screen-xs){
      width: calc(#{$small-height} * #{$bride-aspect-ratio});
			height: $small-height;
			img{
        width: calc(#{$small-height} * #{$bride-aspect-ratio});
				height: $small-height;
				margin: 0 auto;

			}
		}
	}
	.desc-groom{
    padding-top: 50px;
    display: table;
		text-align: left;
	}
	@media screen and (max-width: $screen-xs){
		.groom,.bride{
			margin-left: 0;
			margin-right: 0;
		}
		.desc-groom{
			padding-left: 0;
			text-align: center;
		}
		.desc-bride{
			padding-right: 0;
			text-align: center;
		}
	}
}

.fh5co-heading {
	margin-bottom: 5em;
	&.fh5co-heading-sm {
		margin-bottom: 2em;
	}
	h2 {
		font-size: 50px;
		margin-bottom: 10px;
		line-height: 1.5;
		font-weight: bold;
		color: $header-color;
		font-family: $header-font;
		@media screen and (max-width: $screen-sm){
			font-size: 35px;
		}
	}

  h3 {
		color: $text-color;
		font-family: $text-font;
  }
	p {
		font-size: 18px;
		line-height: 1.5;
		color: $text-color;
	}
	span{
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 2px;
		font-weight: 600;
		color: rgba($brand-black,.4);
	}
}

#registration {
  .fh5co-heading {
    margin-bottom: 2em;
  }
}

#registrationQuery {
  font-family: $text-font;
  color: $text-color;
  font-size: 22px;
  text-shadow: 0px 0px 0px;
}

#what-to-bring {
	position: relative;
  margin-bottom: 2em;

	.fh5co-heading {
		h2 {
			color: $header-color;
			font-family: $header-font;
		}
		p{
      line-height: 2.5;
			color: $text-color;
      font-size: 22px;
      text-shadow: 0px 0px 0px;
			font-family: $text-font;
		}
	}

	.fh5co-heading {
		margin-bottom: 2em;
		h2 {
			margin-bottom: 0;
		}
	}

}

div {
  &:after {
    clear: both;
  }
}

.container {
  &:after {
    clear: both;
  }
}

#fh5co-footer {
	clear: both;
	padding: 2em 0;
  text-align: center;
  color: $text-color;
  font-family: $text-font;
  font-size: 24px;
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: $text-font;
	font-size: 16px;
	font-weight: 400;
	@include border-radius(30px);
	@include transition(.5s);
	padding: 8px 20px;
	&.btn-md {
		padding: 8px 20px!important;
	}
	&.btn-lg {
		padding: 18px 36px!important;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
		outline: none!important;
	}
}
.btn-primary {
	background: $text-color;
	color: $brand-white;
	border: 2px solid $brand-primary;
	&:hover, &:focus, &:active {
		background: lighten($brand-primary, 5%)!important;
		border-color: lighten($brand-primary, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary;
		&:hover, &:focus, &:active {
			background: $brand-primary;
			color: $brand-white;
		}
	}
}

#rsvp-form {
  margin-left: 20px;
  margin-right: 20px;
}

// Form Input Field
.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
  	&:active, &:focus {
  		outline: none;
		box-shadow: none;
		border-color: $brand-primary;
  }
}

.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}
